*{
    margin: 0;
    /* margin-top: 0; */
    padding: 0;
    /* width: 100%; */
}
.nav-mobile {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    display: none;
}
.mo {
    display: none;
}
.backdrop {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}
.mobile-links-holder {
    width: 50%;
    height: 100vh;
    position: fixed;
    display: none;
    padding-top: 10px;
    font-size: 20px;
    right: 0;
    top: 0;
    
    background-color: #504f4f ;
}
.showLinks {
    display: block;
}
.mobile-links-holder h3 {
    display: block;
    padding: 7px;
    
}
.mobile-links-holder h3:hover {
    background: white;
}
.hamburger {
    z-index: 1000;
    height: 35px;
    width: 30px;
    margin: 15px;
    display: flex;
    align-items: center;
}
.menubars {
    height: 3px;
    background: white ;
    width: 100%;
    position: relative;
}
.menubars::before {
    content: "";
    height: 3px;
    background: white;
    width: 100%;
    position: absolute;
    transform: translateY(-10px);
    
}
.menubars::after {
    content: "";
    height: 3px;
    background: white ;
    width: 100%;
    position: absolute;
    transform: translateY(+10px);
}
.show .menubars {
    background: transparent;
}
.show .menubars::before {
    transform: rotate(45deg); 
    background: #D7D7D7;

}
.show .menubars::after {
    transform: rotate(-45deg);
    background: #D7D7D7;
    /* z-index: 1000px; */

}

body {
    width: 100%;
}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./images/your.png);
    /* url(images/your.png); */
    /* image-resolution: 90%; */
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: bottom;
    height: 600px;
    /* position: absolute; */
    /* width: 100000px; */
    margin: 0;
    /* padding: 0; */
}
.h {
    margin-left: -70px;
}
.titles {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    color: #D7D7D7;
}
.home {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}
.contact {
    display: flex;
    justify-content: space-evenly;
    width: 15%;
}
.search {
    /* text-align: center; */
    /* width: 50%; */
    margin-top: 10%;
    margin-left: 13%;
}
.buy {
    
    color: #ffffff;
    align-content: space-between;
    /* height: 150px; */
}
.buy h1 {
    /* margin-bottom: 20px; */
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}
.buy h4 {
    font-family: Poppins;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #ffffffea;
}
.for {
    /* margin-left: 13%; */
    margin-top: 20px;
    /* text-align: center; */
    /* display: block; */
    /* justify-content: center; */
}
.for input {
    width: 70%;
    height: 35px;
top: 590px;
left: 158px;
padding-left: 10px;
border-radius: 5px;
border: #ffffff;
outline-style: none;

display: block;
/* justify-content: center; */
}
.btn {
    margin-left: 30%;
    margin-top: 20px;
    height: 35px;
    width: 120px;
    border-radius: 10px;
    background-color: #073EFF;
    border: #073EFF;
color: #ffffff;

}
.secondsection {
    margin: 80px 0px 0 120px;
}
.our {
    font-family: Poppins;
font-size: 45px;
/* font-weight: 600; */
line-height: 38px;
/* letter-spacing: 0em; */
text-align: left;
/* margin-bottom: 40px; */
color: #000000;
}
.things {
    display: flex;
}
.house {
    margin-right: 20px;
    width: 30%;
    margin-top: 20px;
}
.house h5 {
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #6d6b6b;
}
.house h2 {
    font-family: sans-serif;
font-size: 24px;
font-weight: 10;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}
.house h3 {
    color: #3f3d3dc7;
}
/* .house hr {
    width: 100%;
    border: 1px #c0bcbc00;
} */
.price {
    font-family: sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.house button {
    width: 190px;
    height: 30px;
    border-radius: 5px;
    color: #504f4f;
    background-color: #cecbcb;
    border: #cecbcb;
}
.thirdsection {
    margin-top: 60px;
    background-color:#d3d0d0e8 ;
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-evenly;
}
.back {
    /* display: flex; */
    margin-left: -50px;
}
.shadow {
    background-color: #073EFF;
    height: 284px;
    border-radius: 20px;
    margin-bottom: -30px;
    width: 485px;
}
.back img {
    margin-top: -450px;
    margin-left: 20px;
    border-radius: 20px;
}
.let h2 {
    font-family: Poppins;
font-size: 40px;
/* font-weight: 500; */
line-height: 45px;
letter-spacing: 0em;
/* text-align: left; */

}
.let h4 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
/* line-height: 27px; */
letter-spacing: 0em;
/* text-align: left; */
margin-bottom: 20px;
margin-top: 10px;
}
.let button {
    /* margin-left: 30%; */
    /* margin-top: 20px; */
    height: 35px;
    width: 120px;
    border-radius: 10px;
    background-color: #073EFF;
    border: #073EFF;
color: #ffffff;
}
.forthsection {
    height: 300px;
    margin: 80px 40px 40px 60px ;
}
.how {
    font-family: Poppins;
font-size: 35px;
font-weight: 600;
line-height: 44px;
margin-bottom: 70px;
margin-left: 90px;
}
.find {
    display: flex;
    justify-content: space-evenly;
}
.find h3 {
    /* width: 156px; */
height: 30px;
font-size: 22px;
margin-bottom: 10px;
/* top: 3002px; */
/* left: 160px; */

}
.find h4 {
    color: #6d6b6b;
    font-size: 18px;
}
.fifthsection {
    background-image: url(images/Rectangle\ 11.png);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: bottom;
    display: flex;
    align-items: center;
}
.fifth {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid tomato; */
    width: 70%;
    margin-left: 180px;
    height: 300px;
}
.discover h2 {
    font-family: Poppins;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    /* letter-spacing: 0em; */
    /* text-align: left; */
    color: #ffffff;
}
.discover h4 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
/* letter-spacing: 0em; */
/* text-align: left; */
color: #f1f1f1;
}
.form1 {
    padding:30px 20px;
    display: grid;
    
    /* flex-wrap: wrap; */
    width: 35%;
    height: 300px;
    background-color: #d9d9d9;
}
.form1 h2 {
    font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 45px;
color: #000000;
/* letter-spacing: 0em; */
/* text-align: left; */

}
.form1 h3 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
color: #000000;

/* text-align: left; */

}
.form1 input {
    margin-bottom: 10px;
    border: #ffffff;
    padding-left: 10px;
}
.form1 button {
    width: 45%;
    background-color: #073EFF;
    border-color: #073EFF;
    border-radius: 5px;
    color: #ffffff;
}
.sixthsection {
    /* border: 2px solid red; */
    height: 600px;
    padding-top: 70px;
    padding-left: 190px;
}
.see {
    font-family: Poppins;
font-size: 36px;
/* font-weight: 500; */
line-height: 48px;
/* letter-spacing: 0em; */
/* text-align: left; */
margin-bottom: 50px;
}
.cont {
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.cont1 {
    margin-bottom: 60px;
}
.cont1 h2 {
    font-family: Poppins;
font-size: 20px;
font-weight: 550;
margin-top: 10px;
line-height: 30px;
/* margin-bottom: 20px; */
/* letter-spacing: 0em; */
/* text-align: left; */

}
.cont1 h4 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 20px;
/* letter-spacing: 0em; */
/* text-align: left; */

}
.box {
    height: 120px;
    margin: 10px 0;
    background-color: #073EFF;
}
.seventhsection {
    height: 470px;
    /* border: 2px solid yellow; */
    padding-top: 50px;
    padding-left: 100px;
}
.see1 {
    font-family: Poppins;
font-size: 33px;
font-weight: 600;
line-height: 45px;
margin-bottom: 30px;

}
.real {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.house1 img {
    width: 300px;
}
.house1 h5{
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #6d6b6b;
}
.house1 h2 {
    font-family: sans-serif;
font-size: 24px;
font-weight: 10;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
/* color: #000000; */
color: #6b6a6a;

}
.house1 h4 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 20px;
color: #000000;

}
.house1 h3 {
    font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 24px;
color: #6b6a6a;
margin-top: 10px;

}
footer {
    background-color: #d9d9d9;
    height: 350px;
}
.foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    height: 300px;
    margin-left: 170px;
}
.log {
    font-family: Poppins;
font-size: 25px;
font-weight: 600;
line-height: 38px;


}
.lorem {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
margin-top: 10px;
margin-bottom: 10px;
/* letter-spacing: 0em;
text-align: left; */

}
.co {
    font-family: Poppins;
font-size: 25px;
font-weight: 500;
line-height: 30px;
margin-bottom: 20px;

}
.lek {
    margin-top: -45px;
}
.lek h3 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
margin-bottom: 10px;

}
.foot1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}
.foot1 h3 {
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
/* letter-spacing: 0em;
text-align: left; */

}